# String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
# Take a string as input from the user
user_input = input("Enter a string: ")

# Reverse the string using string slicing
reversed_string = user_input[::-1]

# Print the reversed string
print(f"The reversed string is: {reversed_string}")

Enter a string: Krishna
The reversed string is: anhsirK

2. Check if a string is a palindrome.

In [ ]:
def is_palindrome(string):
    # Convert the string to lowercase to make the check case insensitive
    string = string.lower()
    # Reverse the string and compare it with the original
    rev_string = string[::-1]
    return string == rev_string

# Take a string as input from the user
user_input = input("Enter a string: ")

# Check if the input string is a palindrome
if is_palindrome(user_input):
    print("The entered string is a palindrome.")
else:
    print("The entered string is not a palindrome.")

Enter a string: MooooOOM
The entered string is a palindrome.

3. Convert a string to uppercase.

In [ ]:
# Take a string as input from the user
user_input = input("Enter a string: ")

# Convert the string to uppercase
uppercase_string = user_input.upper()

# Print the converted string
print(f"The string in uppercase is: {uppercase_string}")

Enter a string: krishna
The string in uppercase is: KRISHNA

4. Convert a string to lowercase.

In [ ]:
# Take a string as input from the user
user_input = input("Enter a string: ")

# Convert the string to lowercase
lowercase_string = user_input.lower()

# Print the converted string
print(f"The string in lowercase is: {lowercase_string}")

Enter a string: KRISHNA
The string in lowercase is: krishna

5. Count the number of vowels in a string.

In [ ]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

# Take a string as input from the user
user_input = input("Enter a string: ")

# Count the number of vowels in the input string
vowel_count = count_vowels(user_input)

# Print the number of vowels
print(f"The number of vowels in the entered string is: {vowel_count}")

Enter a string: Krishna is good Boy
The number of vowels in the entered string is: 6

6. Count the number of consonants in a string.

In [ ]:
def count_consonants(string):
    vowels = "aeiouAEIOU"
    consonant_count = 0
    for char in string:
        if char not in vowels:
            consonant_count += 1
    return consonant_count

# Take a string as input from the user
user_input = input("Enter a string: ")

# Count the number of consonants in the input string
consonant_count = count_consonants(user_input)

# Print the number of consonants
print(f"The number of consonants in the entered string is: {consonant_count}")

Enter a string: Krishna is good boy
The number of consonants in the entered string is: 13

7. Remove all whitespaces from a string.

In [ ]:
def remove_whitespace(string):
    # Replace all whitespaces with an empty string
    return string.replace(" ", "").replace("\t", "").replace("\n", "")

# Take a string as input from the user
user_input = input("Enter a string: ")

# Remove all whitespaces from the input string
modified_string = remove_whitespace(user_input)

# Print the modified string without whitespaces
print(f"The string without whitespaces is: {modified_string}")

Enter a string: Krishna is          good boy
The string without whitespaces is: Krishnaisgoodboy

8. Find the length of a string without using the `len()` function.

In [ ]:
def string_length(string):
    count = 0
    for char in string:
        count += 1
    return count

# Take a string as input from the user
user_input = input("Enter a string: ")

# Find the length of the string without using len()
length = string_length(user_input)

# Print the length of the string
print(f"The length of the string is: {length}")

Enter a string: Krishna
The length of the string is: 7

9. Check if a string contains a specific word.

In [ ]:
def contains_word(string, word):
    # Split the string into words
    words = string.split()
    # Check if the word is in the list of words
    return word in words

# Take a string and a word as input from the user
user_string = input("Enter a string: ")
search_word = input("Enter the word to search for: ")

# Check if the string contains the specified word
if contains_word(user_string, search_word):
    print(f"The string contains the word '{search_word}'.")
else:
    print(f"The string does not contain the word '{search_word}'.")

Enter a string: Krisha is Good Boy
Enter the word to search for: good
The string does not contain the word 'good'.

10. Replace a word in a string with another word.

In [ ]:
def replace_word(string, old_word, new_word):
    # Replace the old word with the new word
    return string.replace(old_word, new_word)

# Take a string and two words as input from the user
user_string = input("Enter a string: ")
old_word = input("Enter the word to replace: ")
new_word = input("Enter the new word: ")

# Replace the old word with the new word in the string
modified_string = replace_word(user_string, old_word, new_word)

# Print the modified string
print(f"The modified string is: {modified_string}")

Enter a string: Krishna Kittu
Enter the word to replace: Krishna
Enter the new word: Krrish
The modified string is: Krrish Kittu

11. Count the occurrences of a word in a string.

In [ ]:
def count_occurrences(string, word):
    # Split the string into words
    words = string.split()
    # Initialize a count variable
    count = 0
    # Iterate through the words and count occurrences of the specified word
    for w in words:
        if w == word:
            count += 1
    return count

# Take a string and a word as input from the user
user_string = input("Enter a string: ")
search_word = input("Enter the word to count occurrences for: ")

# Count the occurrences of the specified word in the string
occurrences = count_occurrences(user_string, search_word)

# Print the number of occurrences
print(f"The word '{search_word}' occurs {occurrences} times in the string.")

Enter a string: krishna is a good boy and smart boy
Enter the word to count occurrences for: boy
The word 'boy' occurs 2 times in the string.

12. Find the first occurrence of a word in a string.

In [ ]:
# Take a string and a word as input from the user
user_string = input("Enter a string: ")
print(user_string[0])

Enter a string: krishna
k

In [ ]:
def find_first_occurrence(string, word):
    # Split the string into words
    words = string.split()
    # Iterate through the words and find the index of the first occurrence of the specified word
    for i, w in enumerate(words):
        if w == word:
            return i

# Take a string and a word as input from the user
user_string = input("Enter a string: ")
search_word = input("Enter the word to find the first occurrence for: ")

# Find the index of the first occurrence of the specified word in the string
first_occurrence_index = find_first_occurrence(user_string, search_word)

# Print the index of the first occurrence
if first_occurrence_index is not None:
    print(f"The word '{search_word}' first occurs at index '{first_occurrence_index}'")
else:
    print(f"The word '{search_word}' is not found in the string.")

Enter a string: is s is s is
Enter the word to find the first occurrence for: is
The word 'is' first occurs at index '0'

13. Find the last occurrence of a word in a string.

In [ ]:
# Take a string and a word as input from the user
user_string = input("Enter a string: ")
print(user_string[-1])

Enter a string: krishna
a

In [ ]:
def find_last_occurrence(string, word):
    # Split the string into words
    words = string.split()
    # Iterate through the words and find the index of the first occurrence of the specified word
    return words.index(word, -1)

# Take a string and a word as input from the user
user_string = input("Enter a string: ")
search_word = input("Enter the word to find the last occurrence for: ")

# Find the index of the first occurrence of the specified word in the string
last_occurrence_index = find_last_occurrence(user_string, search_word)

# Print the index of the first occurrence
if last_occurrence_index is not None:
    print(f"The word '{search_word}' last occurs at index '{last_occurrence_index}'")
else:
    print(f"The word '{search_word}' is not found in the string.")

Enter a string: i am good and smart boy
Enter the word to find the last occurrence for: boy
The word 'boy' last occurs at index '5'

14. Split a string into a list of words.

In [ ]:
# Take a string as input from the user and spliting it
user_string = input("Enter a string: ")
print(user_string.split())

Enter a string: Krishna is good boy
['Krishna', 'is', 'good', 'boy']

15. Join a list of words into a string.

In [ ]:
def join_words(words):
    # Join the list of words into a single string with spaces in between
    return ' '.join(words)

# Take a list of words as input from the user
user_input = input("Enter a list of words separated by spaces: ")

# Split the input string into a list of words
word_list = user_input.split()

# Join the list of words into a single string
joined_string = join_words(word_list)

# Print the joined string
print(f"The joined string is: '{joined_string}'")

Enter a list of words separated by spaces: Krishna is good boy
The joined string is: 'Krishna is good boy'

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [ ]:
def convert_spaces_to_underscores(string):
    # Replace spaces with underscores
    return string.replace(' ', '_')

# Take a string as input from the user
user_string = input("Enter a string: ")

# Convert spaces to underscores in the string
modified_string = convert_spaces_to_underscores(user_string)

# Print the modified string
print(f"The modified string is: {modified_string}")

Enter a string: Krishna is good boy
The modified string is: Krishna_is_good_boy

17. Check if a string starts with a specific word or phrase.

In [ ]:
def starts_with(string, phrase):
    # Check if the string starts with the specified phrase
    return string.startswith(phrase)

# Take a string and a phrase as input from the user
user_string = input("Enter a string: ")
search_phrase = input("Enter the word or phrase to check: ")

# Check if the string starts with the specified phrase
if starts_with(user_string, search_phrase):
    print(f"The string starts with '{search_phrase}'.")
else:
    print(f"The string does not start with '{search_phrase}'.")

Enter a string: kri
Enter the word or phrase to check: k
The string starts with 'k'.

18. Check if a string ends with a specific word or phrase.

In [ ]:
def ends_with(string, phrase):
    # Check if the string ends with the specified phrase
    return string.endswith(phrase)

# Take a string and a phrase as input from the user
user_string = input("Enter a string: ")
search_phrase = input("Enter the word or phrase to check: ")

# Check if the string ends with the specified phrase
if ends_with(user_string, search_phrase):
    print(f"The string ends with '{search_phrase}'.")
else:
    print(f"The string does not end with '{search_phrase}'.")

Enter a string: krishna
Enter the word or phrase to check: a
The string ends with 'a'.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
# Take a string and a phrase as input from the user
user_string = input("Enter a string: ")

#converting input into title case
print(user_string.title())

Enter a string: krishna is good boy
Krishna Is Good Boy

20. Find the longest word in a string.

In [ ]:
def find_largest_word(string):
  #split the string
  words = string.split()

  # checking whether string is empty or not
  if not words:
    return ""

  # checking the largest word when string not empty
  largest_word = words[0]
  for word in words:
    if len(word) > len(largest_word):
      largest_word = word
  return largest_word

# Take a string and a phrase as input from the user
user_string = input("Enter a string: ")

# call the function and storing in the varibale
largest_word = find_largest_word(user_string)

# printing the largest word
print(f'The largest word in the string is : {largest_word}')

Enter a string: Krishna is good boy
The largest word in the string is : Krishna

21. Find the shortest word in a string.

In [ ]:
def find_shortest_word(string):
    # Split the string into words
    words = string.split()
    # Initialize the shortest word as the first word in the list
    if not words:
        return ""
    shortest_word = words[0]
    # Iterate through the words to find the shortest one
    for word in words:
        if len(word) < len(shortest_word):
            shortest_word = word
    return shortest_word

# Take a string as input from the user
user_string = input("Enter a string: ")

# Find the shortest word in the string
shortest_word = find_shortest_word(user_string)

# Print the shortest word
print(f"The shortest word is: '{shortest_word}'")

Enter a string: krishna is boy
The shortest word is: 'is'

22. Reverse the order of words in a string.

In [ ]:
# Take a string as input from the user
user_string = input("Enter a string: ")

# spliting the string and iterating through loop and reversing each word
reversed_string = ""
for word in user_string.split():
  s = word[::-1]
  reversed_string = reversed_string + s +" "

# printing the reversed words in a given string)
print(reversed_string.strip())

Enter a string: Krishna is good boy
anhsirK si doog yob

23. Check if a string is alphanumeric.

In [ ]:
def check_isalphanum(string):
  return string.isalnum()

# Take a string as input from the user
user_string = input("Enter a string: ")

#checking the input string contains letters and numbers
if check_isalphanum(user_string):
  print("The given string is alpha numeric")
else :
  print("The given string not alpha numeric")

Enter a string: krishna123
The given string is alpha numeric

24. Extract all digits from a string.

In [ ]:
def extracting_digits(string):

  if string.isalpha():
    return string

  digits = ''
  #iterating string
  for i in string:
    #checking if the current char is digit or not
    if i.isdigit():
      digits += i

  return digits

# Take a string as input from the user
user_string = input("Enter a string: ")

# extracting digits
extract_digit = extracting_digits(user_string)

if extract_digit.isdigit():
  print(f'These are digits extracted from the given string :{extract_digit}')
else:
  print(f"this string does not contains digits : {extract_digit}")

Enter a string: krishna
this string does not contains digits : krishna

25. Extract all alphabets from a string.

In [ ]:
def extracting_alphabets(string):

  alphabets = ''
  #iterating string
  for i in string:
    #checking if the current char is digit or not
    if i.isalpha():
      alphabets += i
  return alphabets

# Take a string as input from the user
user_string = input("Enter a string: ")

# extracting digits
extract_alphabets = extracting_alphabets(user_string)

if extract_alphabets:
  print(f'These are alphabets extracted from the given string :{extract_alphabets}')
else:
  print(f"this string does not contains alphabets : {user_string}")

Enter a string: krishna123
These are alphabets extracted from the given string :krishna

26. Count the number of uppercase letters in a string.

In [ ]:
def find_uppercase(string):
  upper = 0
  for letter in string:
    if letter.isupper():
      upper += 1
  return upper


# Take a string as input from the user
user_string = input("Enter a string: ")

# finding count of uppercase
upper_case = find_uppercase(user_string)

if upper_case:
  print(f"The string contains {upper_case} uppercase letters")
else:
  print('given string does not contains uppercase')

Enter a string: KRISHNA kittu
The string contains 7 uppercase letters

27. Count the number of lowercase letters in a string.

In [ ]:
def find_lowercase(string):
  lower = 0
  for letter in string:
    if letter.islower():
      lower += 1
  return lower


# Take a string as input from the user
user_string = input("Enter a string: ")

# finding count of uppercase
lower_case = find_lowercase(user_string)

if lower_case:
  print(f"The string contains {lower_case} lowercase letters")
else:
  print('given string does not contains uppercase')

Enter a string: Krishna
The string contains 6 uppercase letters

28. Swap the case of each character in a string.

In [ ]:
# Take a string as input from the user
user_string = input("Enter a string: ")

#swaping the string
print(user_string.swapcase())

Enter a string: Krishna is good boy
kRISHNA IS GOOD BOY

29. Remove a specific word from a string.

In [ ]:
# Take a string as input from the user
user_string = input("Enter a string: ")
word_remove = input("Enter a word you would like to remove: ")

#removing specific word
final_string = user_string.replace(word_remove, '')
print(' '.join(final_string.split()))

Enter a string: Krishna kittu is good boy
Enter a word you would like to remove: kittu
Krishna is good boy

30. Check if a string is a valid email address.

In [ ]:
# Take a string as input from the user
user_string = input("Enter you gmail: ")

#checking email is valid or nor
print(user_string.endswith("@gmail.com"))

Enter a string: krishna@gmail.com
True

In [ ]:
string = "krishna@gmail.com"
domain = ["gmail", "yahoo","email"]
for i in domain:
  if string.endswith(f"@{i}.com"):
    print("Valid")
    break
  else:
    print("not valid")
    break

Valid
completed

31. Extract the username from an email address string.

In [ ]:
# Take a string as input from the user
user_string = input("Enter your gamil: ")

#extracting username from gmail
print(user_string.split("@")[0])

Enter your gamil: Krishna@gmail.com
Krishna

32. Extract the domain name from an email address string.

In [ ]:
# Take a string as input from the user
user_string = input("Enter your gamil: ")

#extracting username from gmail
print(user_string.split("@")[1].split(".")[0])

Enter your gamil: Krishna@gmail.com
gmail

33. Replace multiple spaces in a string with a single space.

In [ ]:
# Take a string as input from the user
user_string = input("Enter a string: ")

print(' '.join(user_string.split()))

Enter a string: Krishna     is good boy
Krishna is good boy

34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        # Parse the URL
        result = urlparse(url)
        # Check if the URL has a valid scheme and netloc
        return all([result.scheme, result.netloc])
    except ValueError:
        # If urlparse raises a ValueError, the URL is not valid
        return False

# Take a URL as input from the user
user_url = input("Enter a URL: ")

# Check if the input is a valid URL
if is_valid_url(user_url):
    print("The entered URL is valid.")
else:
    print("The entered URL is not valid.")

Enter a URL: http://www.example.com
The entered URL is valid.

35. Extract the protocol (http or https) from a URL string.

In [ ]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    # Check if "://" was found
    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return f'Not a valid url'

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"
url4 = "www.example.com"  # No protocol

# Extract protocols
protocol1 = extract_protocol(url1)  # "https"
protocol2 = extract_protocol(url2)  # "http"
protocol3 = extract_protocol(url3)  # "ftp"
protocol4 = extract_protocol(url4)  # None

# Print extracted protocols
print("Protocol 1:", protocol1)  # Output: Protocol 1: https
print("Protocol 2:", protocol2)  # Output: Protocol 2: http
print("Protocol 3:", protocol3)  # Output: Protocol 3: ftp
print("Protocol 4:", protocol4)  # Output: Protocol 4: None

Protocol 1: https
Protocol 2: http
Protocol 3: ftp
Protocol 4: Not a valid url

37. Remove all punctuation from a string.

In [ ]:
def remove_punctuation(string):

  without_punct = ''
  for i in string:
    #checking whether the iterated character is letter or digit
    if i.isalnum():
      without_punct += i
  return without_punct

input = "sdfghjh!@#$"

string_without_punctuations = remove_punctuation(input)

if string_without_punctuations:
  print(f"in {string_without_punctuations}")
else :
  print("String is empty")

in sdfghjh

38. Check if a string contains only digits.

In [ ]:
def check_isdigit(string):
  return string.isdigit()

# input
string1 = check_isdigit("123456")
string2 = check_isdigit("Krishna1234")
string3 = check_isdigit("123456dfghj#$5678")

#print the statement
print(f'String1 : {string1}')
print(f'String2 : {string2}')
print(f'String3 : {string3}')

String1 : True
String2 : False
String3 : False

39. Check if a string contains only alphabets.

In [ ]:
def check_isalpha(string):
  return string.isalpha()

# input from user
input_string = input("Enter the string: ")

#checking given string contains alphabets are not
check_isalpha(input_string)

Enter the string: Krishna123

False

40. Convert a string to a list of characters.

In [ ]:
def string_to_list(input_string):
    # Use list() constructor to convert the string to a list of characters
    char_list = list(input_string)
    return char_list

# input from user
input_str = input("Enter the string: ")

# Convert the string to a list of characters
char_list = string_to_list(input_str)

# Print the list of characters
print("Original string:", input_str)
print("List of characters:", char_list)

Enter the string: Krishna
Original string: Krishna
List of characters: ['K', 'r', 'i', 's', 'h', 'n', 'a']

41. Check if two strings are anagrams.

In [ ]:
def check_anagram(string1, string2):
  if sorted(string1) == sorted(string2):
    return True

# input from user
user_input1 = input("Enter string1: ")
user_input2 = input("Enter string2: ")

is_check_anagram = check_anagram(user_input1, user_input2)

if is_check_anagram:
  print("It is anagram")
else:
  print("Its not anagram")

Enter string1: cat
Enter string2: tac
It is anagram

42. Encode a string using a Caesar cipher.

In [ ]:
def caesar_cipher_encode(text, shift):
    result = ""
    for char in text:
        if char.isupper():
            char_index = ord(char) - ord('A')
            shifted_index = (char_index + shift) % 26
            shifted_char = chr(shifted_index + ord('A'))
            result += shifted_char
        elif char.islower():
            char_index = ord(char) - ord('a')
            shifted_index = (char_index + shift) % 26
            shifted_char = chr(shifted_index + ord('a'))
            result += shifted_char
        elif char.isdigit():
            char_index = ord(char) - ord('0')
            shifted_index = (char_index + shift) % 10
            shifted_char = chr(shifted_index + ord('0'))
            result += shifted_char
        else:
            result += char
    return result


# Take a string and shift value as input from the user
user_text = input("Enter a string: ")
shift_value = int(input("Enter the shift value: "))

# Encode the string using the Caesar cipher
encoded_text = caesar_cipher_encode(user_text, shift_value)
print("Encoded string:", encoded_text)

A <class 'str'>
a <class 'str'>
0 <class 'str'>

'Aa0@'

43. Decode a Caesar cipher encoded string.

In [ ]:
def caesar_cipher_decode(text, shift):
    result = ""
    for char in text:
        if char.isupper():
            char_index = ord(char) - ord('A')
            shifted_index = (char_index - shift) % 26
            shifted_char = chr(shifted_index + ord('A'))
            result += shifted_char
        elif char.islower():
            char_index = ord(char) - ord('a')
            shifted_index = (char_index - shift) % 26
            shifted_char = chr(shifted_index + ord('a'))
            result += shifted_char
        elif char.isdigit():
            char_index = ord(char) - ord('0')
            shifted_index = (char_index - shift) % 10
            shifted_char = chr(shifted_index + ord('0'))
            result += shifted_char
        else:
            result += char
    return result

# Example usage:
encoded_text = "Aa@09"
shift_value = 3

# Decode the string using the Caesar cipher
decoded_text = caesar_cipher_decode(encoded_text, shift_value)
print("Decoded string:", decoded_text)

Decoded string: Xx@76

44. Find the most frequent word in a string.

In [ ]:
def check_frequent_word(string):
  # spliting the string
  string = string.split()
  frequent = 1
  freq_word = ''
  #Iterating each word whether it is repeating or not
  for word in string:
    if string.count(word) > frequent :
      frequent = string.count(word)
      freq_word = word
  return freq_word, frequent

# input from user
user_string = input("Enter the string: ")

# checking the frequent word
frequent_word = check_frequent_word(user_string)

if frequent_word[0]:
  print(f'frequent word in a string is {frequent_word[0]} and count is {frequent_word[1]}')
else :
  print(f'There is no frequent word')

Enter the string: is and
There is no frequent word

45. Find all unique words in a string.

In [ ]:
def check_unique_word(string):
  # spliting the string
  string = string.split()
  unique_word = []
  #Iterating each word and storing unique word
  for word in string:
    if string.count(word) == 1:
      unique_word.append(word)
  return unique_word

# input from user
user_string = input("Enter the string: ")

# checking the frequent word
unique_words = check_unique_word(user_string)

if unique_words:
  print(f'Unique word in a string are {unique_words}')
else :
  print(f'There is no frequent word')

Enter the string: is and is and is a ajal kd fk fk
Unique word in a string are ['a', 'ajal', 'kd']

46. Count the number of syllables in a string.

In [ ]:
word = "gym"
count_vowels = 0
for vowels in word:
  if vowels in "aeiouy":
    count_vowels += 1
if word.endswith("e") :
  count_vowels -= 1

for i in range(1, len(word)):
  if word[i] in "aeiou" and word[i-1] in "aeiou":
    count_vowels -= 1

count_vowels

1

In [ ]:
import re
def check_syllables(word):
  syllable_count = 0
  for i in word.split():
    check_syllable_count = re.findall(r'[aeiouy]+', i, re.IGNORECASE)
    syllable_count += len(check_syllable_count)

  return syllable_count

# input from user
user_input = input("Enter string: ")

print(f'The syllable count is {check_syllables(user_input)}')

Enter string: this is an example
['i']
['i']
['a']
['e', 'a', 'e']
The syllable count is 6

47. Check if a string contains any special characters.

In [ ]:
def check_special_character(string):
  for i in string.split():
    if not i.isalnum():
      return True

# user input
user_string = input("Enter the string: ")

if check_special_character(user_string):
  print("The sentence have special charcater")
else :
  print("The string does not contains any special characters")

Enter the string: this is@
The sentence have special charcater

48. Remove the nth word from a string.

In [ ]:
def remove_nth_word(string, word_remove):
  string = string.split()
  if word_remove <= len(string):
    string.pop(word_remove - 1)
    updated_string = " ".join(string)
  return updated_string

# input from user
user_input = input("Enter the string: ")
word_remove = int(input("Enter the number to remove the word: "))

check_nth_word = remove_nth_word(user_input, word_remove)
if check_nth_word:
  print(f"This is the string after removing mentioned word : '{check_nth_word}'")
else:
  print("The mentioned word is present in the string")

Enter the string: This is an example string
Enter the number to remove the word: 4
This is the string after removing mentioned word : 'This is an string'

49. Insert a word at the nth position in a string.

In [ ]:
def insert_word_at_n(input_string, word_to_insert, n):
  string = input_string.split()
  string.insert(n-1, word_to_insert)
  updated_string = " ".join(string)
  return updated_string

# input from user
user_input = input("Enter the string: ")
word_to_insert = input("Enter a word to insert: ")
n = int(input("Enter the position to insert the word: "))

inserting_word = insert_word_at_n(user_input, word_to_insert, n)

print(f"This is the string after inserting mentioned word : '{inserting_word}'")

Enter the string: This is an string
Enter a word to insert: example
Enter the position to insert the word: 4
This is the string after inserting mentioned word : 'This is an example string'

50. Convert a CSV string to a list of lists.

In [ ]:
import pandas as pd

def csv_string_to_list(csv_file):
  df = pd.read_csv(csv_file)
  con_list = df.values.tolist()
  print(con_list)

csv_string_to_list("/content/testcsv.txt")

[['krishna', 24, ' vizag'], ['vimal', 22, ' Vijayawada'], ['Akshat', 24, ' Ahm']]

# List Based Practice Problem

1. Create a list with integers from 1 to 10.

In [ ]:
list10 = list(range(1,11))
print(list10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [ ]:
def check_len(input_list):
  count_len = 0
  for i in input_list:
    count_len += 1
  return count_len

# input from user
user_list = list(map(eval, input("Enter the data with spaces: ").split()))

# finding length of input string
length_of_list = check_len(user_list)
print(f"The length of input list is : {length_of_list}")

Enter the data with spaces: 1 2.5 True 10+20j
The length of input list is : 4

3. Append an element to the end of a list.

In [ ]:
def add_element(user_list, value):
  user_list.append(value)
  return user_list

# input from user
user_list = list(map(int, input("Enter the data with spaces: ").split()))
add_value = int(input("Enter the value: "))
print(f"Before adding element at end: {user_list}")
print(f"After adding element at the end : {add_element(user_list, add_value)}")

Enter the data with spaces: 1 2
Enter the value: 3
Before adding element at end: [1, 2]
After adding element at the end : [1, 2, 3]

4. Insert an element at a specific index in a list.

In [ ]:
#input list
input_list = [1,2,3,4,5,7]
print(f"Before inserting element: {input_list}")

# index to insert
index_to_insert = 5

# value to insert
element_to_add = 6

#inserting the element at required location
input_list.insert(index_to_insert, element_to_add)
print(f"After inserting element: {input_list}")

Before inserting element: [1, 2, 3, 4, 5, 7]
After inserting element: [1, 2, 3, 4, 5, 6, 7]

5. Remove an element from a list by its value.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50]
print(f"Before removing element: {input_list}")

# Removing element by its value
value_to_remove = 30
input_list.remove(value_to_remove)

# final list
print(f"After removing element: {input_list}")

Before removing element: [10, 20, 30, 40, 50]
After removing element: [10, 20, 40, 50]

6. Remove an element from a list by its index.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50]
print(f"Before removing element: {input_list}")

# Removing element by its value
value_to_remove_by_index = 2
input_list.pop(value_to_remove_by_index)

# final list
print(f"After removing element: {input_list}")

Before removing element: [10, 20, 30, 40, 50]
After removing element: [10, 20, 40, 50]

7. Check if an element exists in a list.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50]

value_to_check = 30
if value_to_check in input_list:
  print(f"The value '{value_to_check}' is present in the input list")
else :
  print(f"The value '{value_to_check}' is not present")

The value '30' is present in the input list

8. Find the index of the first occurrence of an element in a list.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50, 30, 20]

element_to_remove = 30
# finding the 1st occurance of the element
input_list.index(element_to_remove)

print(f"the 1st occurance of value '{element_to_remove}' is {input_list.index(element_to_remove)}")

the 1st occurance of value '30' is 2

9. Count the occurrences of an element in a list.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50, 30, 20]
element_to_count = 20
print(f"The occurance of {element_to_count} is {input_list.count(element_to_count)}")

The occurance of 20 is 2

10. Reverse the order of elements in a list.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50, 30, 20]
print(f"Before reversing: {input_list}")
input_list.reverse()
print(f"After reversing: {input_list}")

Before reversing: [10, 20, 30, 40, 50, 30, 20]
After reversing: [20, 30, 50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50, 30, 20]
print(f"Before ordering: {input_list}")
input_list.sort()
print(f"After reversing: {input_list}")

Before ordering: [10, 20, 30, 40, 50, 30, 20]
After reversing: [10, 20, 20, 30, 30, 40, 50]

12. Sort a list in descending order.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50, 30, 20]
print(f"Before sorting order: {input_list}")
input_list.sort(reverse=True)
print(f"After ordering in descending: {input_list}")

Before sorting order: [10, 20, 30, 40, 50, 30, 20]
After ordering in descending: [50, 40, 30, 30, 20, 20, 10]

13. Create a list of even numbers from 1 to 20.

In [ ]:
even_numbers = [x for x in range(1,21) if x%2==0]
print(f"Even numbers from 1 to 20: {even_numbers}")

Even numbers from 1 to 20: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
odd_numbers = [x for x in range(1,21) if x%2 != 0]
print(f"odd numbers from 1 to 20: {odd_numbers}")

odd numbers from 1 to 20: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50]
print(f"The sum of all elements in list: {sum(input_list)}")

The sum of all elements in list: 150

16. Find the maximum value in a list.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50]
print(f"The maximum value in list: {max(input_list)}")

The maximum value in list: 50

17. Find the minimum value in a list.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50]
print(f"The mninimum value in list: {min(input_list)}")

The mninimum value in list: 10

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
input_list = list(range(1, 11))
print(f"Before squaring : {input_list}")
square_list = [x**2 for x in input_list]
print(f"After squaring: {square_list}")

Before squaring : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
After squaring: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:
import random as rd
random_number = [rd.randrange(1,100) for i in range(1,11)]

# Print the list of random integers
print("List of random integers:", random_number)

List of random integers: [28, 73, 45, 65, 57, 87, 76, 34, 36, 69]

20. Remove duplicates from a list.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50, 20, 40, 50]
print(f"before removing duplicates: {input_list}")
# converting into set and then back to list
input_list = list(set(input_list))
print(f"After removing duplicates: {input_list}")

before removing duplicates: [10, 20, 30, 40, 50, 20, 40, 50]
After removing duplicates: [40, 10, 50, 20, 30]

21. Find the common elements between two lists.

In [ ]:
def check_longer_smaller_list(lista,listb):
  if len(list1) > len(list2):
      longer_list = list1
      smaller_list = list2
  else:
      smaller_list = list1
      longer_list = list2

  common_ele = []
  for i in smaller_list:
    if i in longer_list:
      common_ele.append(i)
  return common_ele


list1 = [10,20,30,40,50]
list2 = [20,10,50,60,70,80]

common_elements = check_longer_smaller_list(list1, list2)
print(f"The common elements from both 'list1 and listb: '{common_elements}'")

The common elements from both 'list1 and listb: '[10, 20, 50]'

22. Find the difference between two lists.

In [ ]:
def check_longer_smaller_list(lista,listb):
  if len(list1) > len(list2):
      longer_list = list1
      smaller_list = list2
  else:
      longer_list = list1
      smaller_list = list2

  diff_ele = []
  for i in smaller_list:
    if i not in longer_list:
      diff_ele.append(i)
  return diff_ele


list1 = [10,20,30,40,50]
list2 = [20,10,50,60,70,80]

difference_elements = check_longer_smaller_list(list1, list2)
print(f"The common elements from both 'list1 and listb: '{difference_elements}'")

The common elements from both 'list1 and listb: '[60, 70, 80]'

23. Merge two lists.

In [ ]:
list1 = [10,20,30,40,50]
list2 = [20,10,50,60,70,80]

merge_list = list1 + list2
print(f"After merging both lists: {merge_list}")

After merging both lists: [10, 20, 30, 40, 50, 20, 10, 50, 60, 70, 80]

24. Multiply all elements in a list by 2.

In [ ]:
#input list
input_list = [10, 20, 30, 40, 50, 20, 40, 50]
print(f"before Adding by 2: {input_list}")
adding_2 = [i*2 for i in input_list]
print(f"before Adding by 2: {adding_2}")

before Adding by 2: [10, 20, 30, 40, 50, 20, 40, 50]
before Adding by 2: [20, 40, 60, 80, 100, 40, 80, 100]

25. Filter out all even numbers from a list.

In [ ]:
#input list
input_list = list(range(1,11))
print("Input list :", input_list)

print(f"after filtering even numbers : {[x for x in input_list if x%2 == 0]}")

Input list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
after filtering even numbers : [2, 4, 6, 8, 10]

In [ ]:
# list of strings
str_list = ["10", "20", "30", "40", "50"]
print(f"Before converting: {str_list}")

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in str_list]
print("List of integers:", integer_list)

Before converting: ['10', '20', '30', '40', '50']
List of integers: [10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [ ]:
# list of integers
int_list = [10, 20, 30, 40, 50]
print(f"Before converting: {int_list}")

# Convert list of integers to list of strings using a list comprehension
string_list = [str(x) for x in int_list]
print("List of strings:", string_list)

Before converting: [10, 20, 30, 40, 50]
List of strings: ['10', '20', '30', '40', '50']

28. Flatten a nested list.

In [ ]:
def flatten(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten(item))
        else:
            flat_list.append(item)
    return flat_list
    print(flat_list)


nested_list = [1, [2, 3], [4, [5, 6]], 7]
flattened_list = flatten(nested_list)
print(flattened_list)

[1, 2, 3, 4, 5, 6, 7]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
def fabonacci(n):
  a, b = 0, 1
  for i in range(n):
    yield b
    a,b = b, a + b

print(list(fabonacci(5)))

[1, 1, 2, 3, 5]

30. Check if a list is sorted.

In [ ]:
def check_list_sorted(list):
  if list == sorted(list):
    return True

list1 = [10,20,30,40,50]
list2 = [20,10,50,60,70,80]

sorted_function = check_list_sorted(list2)

if sorted_function:
  print(f"The list is sorted")
else :
  print("Not sorted")

Not sorted

31. Rotate a list to the left by `n` positions.

In [ ]:
def left_list_to_n(list, n):
  new_list = []
  if len(list) > n:
      for i in list:
          index_value = list.index(i)
          new_list.insert((index_value - (n)), i)
      new_list.insert(-n, new_list[-1])
      new_list.pop()
      print(new_list)
  elif len(list) == n:
      print(list)
  else:
      print("it shouldn't greaten than list")

list = [10,20,30,40,50]
n = 4
left_list_to_n(list, n)

[50, 10, 30, 20, 40]

In [ ]:
list = [10,20,30,40,50]
n = 4

mod_list = list[n:] + list[:n]
print(mod_list)

[50, 10, 20, 30, 40]

32. Rotate a list to the right by `n` positions.

In [ ]:
list = [10,20,30,40,50]
n = 4

mod_list = list[-n:] + list[:-n]
print(mod_list)

[20, 30, 40, 50, 10]

33. Create a list of prime numbers up to 50.

In [ ]:
prime = []
for i in range(2, 51):
  for j in range(2, i):
    if i % j == 0:
      break
  else:
    prime.append(i)
print(prime)

34. Split a list into chunks of size `n`.

In [ ]:
list = [10,20,30,40,50,60,70,80,90,100]
n = 3
chunk_list = []
for i in range(0, len(list),n):
  chunk_list.append(list[i:i+n])

print(chunk_list)

[[10, 20, 30], [40, 50, 60], [70, 80, 90], [100]]

35. Find the second largest number in a list.

In [ ]:
list_ele = [10, 20, 30, 50, 40, 60, 90, 70,90]
unique_list = set(list_ele)
# print(unique_list)
print(sorted(list(unique_list))[-2])

{70, 40, 10, 50, 20, 90, 60, 30}
70

36. Replace every element in a list with its square.

In [ ]:
list_ele = list(range(1,11))
print(list_ele)
print((lambda collection : [i*i for i in collection])(list_ele))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
list_coll = ["a", "b", "c", "d"]
dicti = {}
for i, j in enumerate(list_coll):
  dicti[j] = i
print(dicti)

{'a': 0, 'b': 1, 'c': 2, 'd': 3}

38. Shuffle the elements of a list randomly.

In [ ]:
import random as re
list_ele = list(range(1, 11))
re.shuffle(list_ele)
print(list_ele)

[6, 5, 9, 7, 1, 8, 4, 3, 2, 10]

39. Create a list of the first 10 factorial numbers.

In [ ]:
import math
list_ele = list(range(1,11))
fact_list = []
for i in list_ele:
  fact_list.append(math.factorial(i))
print(fact_list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [ ]:
def fact(n):
  if n == 0:
    return 1
  else :
    return n * fact(n-1)

list(map(fact, list(range(1, 11))))

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [ ]:
list_a = [1,2,3]
list_b = [3,4,5]

# converting into set
list_a = set(list_a)
list_b = set(list_b)

if list_a.isdisjoint(list_b):
  print("False")
else :
  print("True")

True

41. Remove all elements from a list.

In [ ]:
list_ele = [10, 20, 30, 50, 40, 60, 90, 70,90]
print("before clearing :", list_ele)

list_ele.clear()
print("after clearning list :", list_ele)

before clearing : [10, 20, 30, 50, 40, 60, 90, 70, 90]
after clearning list : []

42. Replace negative numbers in a list with 0.

In [ ]:
list_ele = [10,11,-55,32,46,54,10,-7]
print("Before updating list: ", list_ele)
for i in range(len(list_ele)):
  if list_ele[i] < 0:
    list_ele[i] = 0

print("After updaing list: ", list_ele)

Before updating list:  [10, 11, -55, 32, 46, 54, 10, -7]
After updaing list:  [10, 11, 0, 32, 46, 54, 10, 0]

43. Convert a string into a list of words.

In [ ]:
string = "krishna is a good boy"
print("Before converting into list of word: ", string)
word_string= string.split()
print("After converting into list of word: ",word_string)

Before converting into list of word:  krishna is a good boy
After converting into list of word:  ['krishna', 'is', 'a', 'good', 'boy']

44. Convert a list of words into a string.

In [ ]:
word_string = ['krishna', 'is', 'a', 'good', 'boy']
print("Before converting into string: ", word_string)
com_string = " ".join(word_string)
print("After converting into string: ", com_string)

Before converting into string:  ['krishna', 'is', 'a', 'good', 'boy']
After converting into string:  krishna is a good boy

45. Create a list of the first `n` powers of 2.

In [ ]:
first_n_list = lambda n : [i**2 for i in range(1, n+1)]
n = 5
# Print the list of powers of 2
print("List of the first", n, "powers of 2:", first_n_list(n))

List of the first 5 powers of 2: [1, 4, 9, 16, 25]

46. Find the longest string in a list of strings.

In [ ]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "fghjknnn"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
    # if length is same then checking with max ascii value
    elif len(s) == len(longest_string):
        longest_string = max(s, longest_string)

# Print the longest string
print("Longest string:", longest_string)

Longest string: fghjknnn

47. Find the shortest string in a list of strings.

In [ ]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "data","elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  # Initialize with the first string
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
    elif len(s) == len(shortest_string):
        small_string = min(s, shortest_string)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: date

48. Create a list of the first `n` triangular numbers.

In [ ]:
n = 5
first_n_tri_num = [(i * (i+1))//2 for i in range(1, n+1)]
print("List of the first", n, "triangular numbers:", first_n_tri_num)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

In [ ]:
def is_subsequence(main_list, sub_list):
    """Check if sub_list is a subsequence of main_list."""
    it = iter(main_list)
    return all(element in it for element in sub_list)

main_list = [1, 2, 3, 4, 5, 6]
sub_list = [2, 4, 5]

# Check if sub_list is a subsequence of main_list
result = is_subsequence(main_list, sub_list)
print(f"Is the sub_list {sub_list} a subsequence of the main_list {main_list}? {result}")

Is the sub_list [2, 4, 5] a subsequence of the main_list [1, 2, 3, 4, 5, 6]? True

50. Swap two elements in a list by their indices.

In [ ]:
def swap_elements(lst, index1, index2):
    """Swap elements at index1 and index2 in the list lst."""
    if index1 >= 0 and index1 < len(lst) and index2 >= 0 and index2 < len(lst):
        lst[index1], lst[index2] = lst[index2], lst[index1]
    else:
        print("Error: One or both indices are out of range.")

example_list = [10, 20, 30, 40, 50]

# Indices to swap
index1 = 1
index2 = 3


print(f"Before swapping: {example_list}")
swap_elements(example_list, index1, index2)
print(f"After swapping: {example_list}")

Before swapping: [10, 20, 30, 40, 50]
After swapping: [10, 40, 30, 20, 50]

# Tuple Based Practice Problem

1. Create a tuple with integers from 1 to 5.

In [ ]:
# creating tuple
t = tuple(range(1,6))
print("tuple with integers from 1 to 5.: ",t)

tuple with integers from 1 to 5.:  (1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [ ]:
tup = (10,20,30,40)
print("Accessing the third element: ", tup[2])

Accessing the third element:  30

3. Find the length of a tuple without using the `len()` function.

In [ ]:
tup = (1,2,3,4,5,6,7,8,9,10)
counter = 0
for _ in tup:
  counter += 1

print("the length of tup is: ", counter)

the length of tup is:  10

4. Count the occurrences of an element in a tuple.

In [ ]:
tup = (1,2,3,4,5,6,7,8,9,1, 2, 5, 20, 2)

# which element want to find
n = 2
print(f"the value '{n}' is occured '{tup.count(n)}'times ina tuple")

the value '2' is occured '3'times ina tuple

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
tup = (1,2,3,4,5,6,7,8,9,1, 2, 5, 20, 2)

# element to find the index
n = 2
print(f"the value '{n}' of first occuranced index is '{tup.index(n)}'")

the value '2' of first occuranced index is '1'

6. Check if an element exists in a tuple.

In [ ]:
tup = (1,2,3,4,5,6,7,8,9,1, 2, 5, 20, 2)

# element to find
n = 100

if n in tup:
  print(f"The element '{n}' is exist")
else :
  print(f"The element '{n}' is not exist")

The element '100' is not exist

7. Convert a tuple to a list.

In [ ]:
tup = (1,2,3,4,5,6,7,8,9,1, 2, 5, 20, 2)
print("Before converting: ", type(tup), ":", tup)

con_list = list(tup)
print("After converting: ", type(con_list), ":", con_list)

Before converting:  <class 'tuple'> : (1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 5, 20, 2)
After converting:  <class 'list'> : [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 5, 20, 2]

8. Convert a list to a tuple.

In [ ]:
print("Before converting: ", type(con_list), ":", con_list)

con_tup = tuple(con_list)
print("After converting: ", type(con_tup), ":", con_tup)

Before converting:  <class 'list'> : [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 5, 20, 2]
After converting:  <class 'tuple'> : (1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 5, 20, 2)

9. Unpack the elements of a tuple into variables.

In [ ]:
tup = (10, 20, 30)
print("Before packing: ", tup)
tup1, tup2, tup3 = tup
print("After unpacking: ", tup1, tup2, tup3, sep="\n")

Before packing:  (10, 20, 30)
After unpacking:
10
20
30

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
tup = tuple(range(1, 11))
print("Before filtering: ", tup)
print("After filtering even numbers", tuple([i for i in tup if i%2 == 0]))

Before filtering:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
After filtering even numbers (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
tup = tuple(range(1, 11))
print("Before filtering: ", tup)
print("After filtering odd numbers", tuple([i for i in tup if i%2 != 0]))

Before filtering:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
After filtering odd numbers (1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
tup1 = (1,2,3)
tup2 = (4,5,6)
con_tup = tup1 + tup2
print("after concatenating 2 tuples: ", con_tup)

after concatenating 2 tuples:  (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [ ]:
tup = (1,2,3)
print("before repeating tuple: ", tup)
print("after repeating 3 times: ", tup*3)

before repeating tuple:  (1, 2, 3)
after repeating 3 times:  (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [ ]:
tup = ()
if tup:
  print("It not empty")
else :
  print("it is empty")

it is empty

15. Create a nested tuple.

In [ ]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [ ]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Access the first element of the nested tuple
first_element = nested_tuple[0]

# Step 3: Print the first element
print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

17. Create a tuple with a single element.

In [ ]:
# Step 1: Create a tuple with a single element
single_element_tuple = (42,)  # Note the trailing comma

# Step 2: Print the single element tuple
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

18. Compare two tuples.

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Step 2: Delete the tuple using the 'del' statement
del my_tuple

# Step 3: Try to access the tuple (will raise a NameError)
print(my_tuple)

NameError: name 'my_tuple' is not defined

20. Slice a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Step 2: Slice the tuple to get a portion of it
sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)

# Step 3: Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

21. Find the maximum value in a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the maximum value in the tuple using the 'max()' function
max_value = max(my_tuple)

# Step 3: Print the maximum value
print("Maximum value:", max_value)

Maximum value: 45

22. Find the minimum value in a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (10, 20, 5, 45, 30)

# Step 2: Find the minimum value in the tuple using the 'min()' function
min_value = min(my_tuple)

# Step 3: Print the minimum value
print("Minimum value:", min_value)

Minimum value: 5

23. Convert a string to a tuple of characters.

In [ ]:
# Step 1: Create a string
my_string = "Hello, World!"

# Step 2: Convert the string to a tuple of characters
tuple_of_characters = tuple(my_string)

# Step 3: Print the tuple of characters
print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('H', 'e', 'l', 'l', 'o', ',', ' ', 'W', 'o', 'r', 'l', 'd', '!')

24. Convert a tuple of characters to a string.

In [ ]:
# Step 1: Create a tuple of characters
tuple_of_characters = ('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!')

# Step 2: Convert the tuple of characters to a string using the 'join()' method
string_from_tuple = ''.join(tuple_of_characters)

# Step 3: Print the resulting string
print("String from tuple:", string_from_tuple)

String from tuple: Hello World!

25. Create a tuple from multiple data types.

In [ ]:
# Creating a tuple with elements of different data types
mixed_tuple = (1, "hello", 3.14, True)

# Printing the tuple
print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

# Step 2: Compare the tuples for identity using the equality operator
are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

# Step 3: Print the results
print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

27. Sort the elements of a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (5, 2, 8, 1, 3)

# Step 2: Convert the tuple to a list, sort the list, and convert it back to a tuple
sorted_tuple = tuple(sorted(my_tuple))

# Step 3: Print the sorted tuple
print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
# Step 1: Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(ele) for ele in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
# Step 1: Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

30. Merge two tuples.

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [ ]:
# nested tuple
nested_tuple = (1, 2, (3, (4, 5)))

def flatten_tuple(nested_tuple):
  flat_tuple = []
  nested_tuple = list(nested_tuple)
  for ele in nested_tuple:
    if isinstance(ele, tuple):
      flat_tuple.extend(flatten_tuple(ele))
    else:
      flat_tuple.append(ele)
  flat_tuple = tuple(flat_tuple)
  return flat_tuple

flatten_tuple(nested_tuple)

(1, 2, 3, 4, 5)

32. Create a tuple of the first 5 prime numbers.

In [ ]:
prime = []
for i in range(2, 100):
  for j in range(2, i):
    if i%j == 0:
      break
  else:
    prime.append(i)
    if len(prime) == 5:
      break

prime

[2, 3, 5, 7, 11]

33. Check if a tuple is a palindrome.

In [ ]:
# Function to check if a tuple is a palindrome
def is_palindrome(tup):
    return tup == tup[::-1]

# Create tuples for testing
palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Check if the tuples are palindromes
is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

# Print the results
print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
# Create a tuple of squares using a list comprehension
squares_tuple = tuple(x ** 2 for x in range(1, 6))

# Print the tuple of squares
print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [ ]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print("Filtered even numbers: ",tuple(filter(lambda i : i%2==0, original_tuple)))

Filtered even numbers:  (2, 4, 6, 8, 10)

36. Multiply all elements in a tuple by 2.

In [ ]:
# Create a tuple
original_tuple = (1, 2, 3, 4, 5)

# Multiply all elements by 2 using a list comprehension and convert to a tuple
doubled_tuple = tuple(num * 2 for num in original_tuple)

# Print the doubled tuple
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [ ]:
import random as re

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(re.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (87, 24, 58, 12, 96, 28, 21, 76, 50, 86)

38. Check if a tuple is sorted.

In [ ]:
# Function to check if a tuple is sorted
def is_sorted(tup):
  if tup == tuple(sorted(tup)):
    return True
  else :
    return False

# Create tuples for testing
sorted_tuple = (1, 2, 3, 4, 6)
unsorted_tuple = (5, 3, 1, 4, 2)

# Check if the tuples are sorted
is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

# Print the results
print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

39. Rotate a tuple to the left by n positions.

In [ ]:
tup = (10,20,30,40,50)
n = 2
tup[n:]+tup[:n]

(30, 40, 50, 10, 20)

40. Rotate a tuple to the right by n positions.

In [ ]:
tup = (10,20,30,40,50)
n = 3
tup[-n:]+tup[:-n]

(30, 40, 50, 10, 20)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
def fab(num):
  a, b = 0, 1
  for i in range(num):
    yield b
    a, b = b, a+b

print("The first 5 fibonacci numbers: ", tuple(fab(5)))

The first 5 fibonacci numbers:  (1, 1, 2, 3, 5)

42. Create a tuple from user input.

In [ ]:
# Taking user input for creating a tuple
input_tuple = tuple(map(eval, input("Enter elements separated by commas: ").split(",")))

print("User input tuple:", input_tuple)

Enter elements separated by commas: 1,2,"3"
User input tuple: (1, 2, '3')

43. Swap two elements in a tuple.

In [ ]:
def swap_elements(tup, index1, index2):
    """Swap elements at index1 and index2 in the list lst."""
    if index1 >= 0 and index1 < len(tup) and index2 >= 0 and index2 < len(tup):
        lst = list(tup)
        lst[index1], lst[index2] = lst[index2], lst[index1]
        tup = tuple(lst)
    else:
        print("Error: One or both indices are out of range.")

example_tuple = (10, 20, 30, 40, 50)

# Indices to swap
index1 = 1
index2 = 3


print(f"Before swapping: {example_tuple}")
swap_elements(example_tuple, index1, index2)
print(f"After swapping: {example_tuple}")

Before swapping: (10, 20, 30, 40, 50)
After swapping: (10, 20, 30, 40, 50)

44. Reverse the elements of a tuple.

In [ ]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first n powers of 2.

In [ ]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_tuple = tuple(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [ ]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

47. Find the shortest string in a tuple of strings.

In [ ]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi","date", "watermelon")

# Find the shortest string in the tuple
shortest_string = min(string_tuple, key=len)

# Print the shortest string
print("Shortest string:", shortest_string)

Shortest string: kiwi

48. Create a tuple of the first n triangular numbers.

In [ ]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
main_list = [1,2,3,4,5,6,3]
sub_list = [2, 4, 5, 3]

iter_main = iter(main_list)

if all([ele in iter_main for ele in sub_list]):
  print("tuple contains another tuple as a subsequence")
else:
  print("tuple not contains another tuple as a subsequence")

tuple contains another tuple as a subsequence

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

# Set Based Practice Problems

1. Create a set with integers from 1 to 5

In [ ]:
set_var = set(range(1,6))
print(f"The set consists of {set_var}")

The set consists of {1, 2, 3, 4, 5}

2. Add an element to a set

In [ ]:
# Adding an element
n = 6
print("Before adding", set_var)
set_var.add(n)
print("After adding", set_var)

Before adding {1, 2, 3, 4, 5}
After adding {1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [ ]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Print the original set
print("Original Set:", my_set)

# Step 3: Choose an element to remove
element_to_remove = 3

# Step 4: Use the remove() method to remove the chosen element
# Note: If the element is not present in the set, remove() raises a KeyError.
my_set.remove(element_to_remove)

# Step 5: Print the modified set after removal
print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

 4. Check if an element exists in a set.

In [ ]:
# Step 1: Create a set with some elements
my_set = {1, 3, 5, 7, 9}

# Step 2: Ask the user for the element they want to check
element_to_check = int(input("Enter the element to check: "))

# Step 3: Use the "in" keyword to check if the element exists in the set
if element_to_check in my_set:
    # Step 4: If the element exists in the set, print a message
    print(f"{element_to_check} exists in the set.")
else:
    # Step 5: If the element does not exist in the set, print a message
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check: 3
3 exists in the set.

5. Find the length of a set without using the len() function

In [ ]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Initialize a variable to count the elements in the set
count = 0

# Iterate through each element in the set
for _ in my_set:
    # Increase the count by 1 for each element
    count += 1

# Print the count, which is the length of the set
print("Length of the set:", count)

Length of the set: 5

6. Clear all elements from a set.

In [ ]:
# Step 1: Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Step 2: Display the original set
print("Original set:", my_set)

# Step 3: Clear all elements from the set using the clear() method
my_set.clear()

# Step 4: Display the set after clearing
print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

 7. Create a set of even numbers from 1 to 10

In [ ]:
# Step 1: Initialize an empty set
even_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
even_numbers_set = set([num for num in range(1, 11) if num % 2 == 0])

print(even_numbers_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10

In [ ]:
# Step 1: Initialize an empty set
odd_numbers_set = set()

# Step 2: Iterate through numbers from 1 to 10
odd_numbers_set = set([num for num in range(1, 11) if num % 2 != 0])

print(odd_numbers_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets

In [7]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Find the union of the two sets using the `union()` method
union_result = set1.union(set2)

# Print the original sets and their union
print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets

In [9]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the intersection using the intersection() method
intersection_result = set1.intersection(set2)

# Print the original sets and the intersection
print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

11. Find the difference between two sets.

In [10]:
# Create two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

# Find the difference between the sets using the difference() method
difference_set = set1.difference(set2)

# Print the original sets and the difference set
print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

12. Check if a set is a subset of another set.

In [11]:
# Define the two sets
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

13. Check if a set is a superset of another set.

In [12]:
# Create two sets
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}

# Check if set1 is a superset of set2
is_superset = set1.issuperset(set2)

# Print the result
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

14. Create a set from a list

In [13]:
# Step 1: Create a list of elements
my_list = [2, 4, 1, 4, 3, 2, 5]

# Step 2: Use the set() constructor to convert the list into a set
# This automatically removes duplicates and creates a set with unique elements
my_set = set(my_list)

# Step 3: Print the original list and the resulting set
print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [14]:
# Step 1: Create a set with some elements
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

# Step 2: Convert the set to a list using the list() function
my_list = list(my_set)

# Now, my_list contains the elements from my_set in list format

# Step 3: Print the original set and the converted list
print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [16]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))
print("Random element :", random_element)

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Random element : 3
Updated set after removing 3 : {1, 2, 4, 5}

17. Pop an element from a set.

In [17]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [30]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
# print(common_elements)
# Step 3: Check if the common_elements set is empty
if set1.isdisjoint(set2):
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements")

The two sets have common elements

19. Find the symmetric difference between two sets.

In [31]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1.symmetric_difference(set2)

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [32]:
# Create the first set
set1 = {1, 2, 3}
print("Set 1:", set1)

# Create the second set
set2 = {3, 4, 5}
print("Set 2:", set2)

# Update set1 with elements from set2
set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [60]:
prime_set = set()
counter = 2
while True:
  for i in range(2, counter):
    if counter%i == 0:
      break
  else:
    prime_set.add(counter)
    if len(prime_set)==5:
      break
  counter += 1

prime_set

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [50]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set

In [61]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [62]:
# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

25. Create a set of squares of numbers from 1 to 5.

In [64]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [68]:
set_value = set(range(1, 11))
print("The values in a set :", set_value)
print("Even numbers in a set: ", set(filter(lambda i : i%2 == 0, set_value)))

The values in a set : {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Even numbers in a set:  {2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [69]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [70]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {36, 8, 41, 82, 31}

29. Check if a set is empty.

In [71]:
# Step 1: Create a set (you can replace this with your own set)
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [75]:
# Step 1: Create the inner sets
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [78]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 5

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 5 : {1, 2, 3, 4}

32. Compare two sets.

In [79]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [80]:
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = set(input_string)

# Step 3: Print the resulting set
print(char_set)

{'e', 'l', 'o', 'h'}

34. Convert a set of strings to a set of integers.

In [81]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'789', '456', '123'}
Converted Integer Set: {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [82]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'4', '1', '5', '2', '3'}

36. Create a set from a tuple.

In [83]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

37. Convert a set to a tuple.

In [84]:
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [86]:
# Define a set with some values
my_set = {15, 7, 22, 13, 8}

# Initialize a variable to store the maximum value
max_value = None

# Iterate through each element in the set
for num in my_set:
    # Check if max_value is None (first iteration) or if the current number is greater than max_value
    if max_value is None or num > max_value:
        max_value = num  # Update max_value with the current number if it's greater

# Print the maximum value
print("Maximum value:", max_value)

Maximum value: 22

39. Find the minimum value in a set.

In [89]:
# Create a sample set of numbers
number_set = {15, 8, 23, 4, 42, 11}

# Initialize a variable to store the minimum value
min_value = None

# Iterate through each element in the set
for num in number_set:
    # Check if min_value is None (first iteration) or if num is smaller than the current min_value
    if min_value is None or num < min_value:
        # Update min_value to the current num since it's smaller
        min_value = num

# Print the minimum value found in the set
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

40. Create a set from user input.

In [91]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):
> k
> d
> done
Final set: {'k', 'd'}

41. Check if the intersection of two sets is empty.

In [92]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [97]:
def fab(n):
  a, b = 0, 1
  for i in range(n):
    yield b
    a, b = b, a+b

set([i for i in fab(5)])

{1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [98]:
# Step 1: Define a list with duplicates
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

# Step 2: Convert the list to a set
unique_set = set(original_list)
# Now, 'unique_set' contains only unique elements from 'original_list'

# Step 3: Convert the set back to a list
unique_list = list(unique_set)
# Now, 'unique_list' is a list containing only unique elements

# Step 4: Print the original list and the list with duplicates removed
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [99]:
def have_same_elements(list1, list2):
    # Convert lists to sets
    set1 = set(list1)
    set2 = set(list2)

    # Check if sets are equal
    return set1 == set2

# Example usage
list1 = [1, 2, 2, 3, 4]
list2 = [4, 3, 2, 1, 1]

result = have_same_elements(list1, list2)

if result:
    print("The two sets have the same elements.")
else:
    print("The two sets do not have the same elements.")

The two sets have the same elements.

45. Create a set of the first n powers of 2

In [101]:
# Define the value of n
n = 5

# Create a tuple of the first n powers of 2 using a list comprehension
powers_of_2_set = set(2 ** i for i in range(n))

# Print the tuple of powers of 2
print("set of the first", n, "powers of 2:", powers_of_2_set)

set of the first 5 powers of 2: {1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [103]:
def find_common_elements(set_obj, list_obj):
    # Convert the list to a set
    list_as_set = set(list_obj)

    # Find the intersection of the two sets
    common_elements = set_obj.intersection(list_as_set)

    return common_elements

# Example usage
my_set = {1, 2, 3, 4, 5}
my_list = [3, 4, 5, 6, 7]

result = find_common_elements(my_set, my_list)

# Print the result
print("Common elements:", result)

Common elements: {3, 4, 5}

47. Create a set of the first n triangular numbers.

In [105]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_set = set((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_set)

Tuple of the first 5 triangular numbers: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [106]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length n.

In [107]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_set = set(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_set)

Tuple of alternating 1s and 0s: {0, 1}

50. Merge multiple sets into one.

In [108]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}