# Basic Level

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1, 11):
  print(i, end =", ")

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
list_values = list(range(1, 10))
print("before adding ", list_values)
sum_list = sum([ele for ele in list_values])
print("After summation: ", sum_list)

before adding  [1, 2, 3, 4, 5, 6, 7, 8, 9]
After summation:  45

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
string = "krishna"
print("Before reversing: ", string)
for char in string[::-1]:
  print(char, end ="")

Before reversing:  krishna
anhsirk

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
n = int(input("Enter the number to find factorial: "))
fact_num = 1
for value in range(1, n+1):
  fact_num *= value
print(f"factorial of '{n}' is '{fact_num}'")

Enter the number to find factorial: 5
factorial of '5' is '120'

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
n = int(input("Enter the number to print table: "))
index = int(input("Enter the index to print the table: "))
for i in range(1,index+1):
  print(f'{n} * {i} = {n*i}')

Enter the number to print table: 5
Enter the index to print the table: 12
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even_count = len([number for number in numbers if number % 2 == 0])
odd_count = len([number for number in numbers if number % 2 != 0])

print(f"Number of even numbers: {even_count}")
print(f"Number of odd numbers: {odd_count}")

Number of even numbers: 5
Number of odd numbers: 5

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for number in range(1, 6):
    square = number * number
    print(f"The square of {number} is {square}")

The square of 1 is 1
The square of 2 is 4
The square of 3 is 9
The square of 4 is 16
The square of 5 is 25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
user_string = input("Enter a string: ")
length = sum(1 for _ in user_string)

print(f"The length of the string '{user_string}' is: {length}")

Enter a string: krishna
The length of the string 'krishna' is: 7

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
numbers = [10, 20, 30, 40, 50]
total_sum = 0
count = 0

for num in numbers:
    total_sum += num
    count += 1

if count > 0:
    average = total_sum / count
else:
    average = 0

# Print the result
print(f"The average of the numbers {numbers} is: {average}")

The average of the numbers [10, 20, 30, 40, 50] is: 30.0

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
a, b = 0, 1
for i in range(5):
  print(b, end = ", ")
  a,b = b ,a+b

1, 1, 2, 3, 5,

# Intermediate Level

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
list_value = [1,2,3,4,5,6,7,7,8,9,10,1]
print("my list :", list_value)
dup_val = []
count = 0
for indx, val in enumerate(list_value):
  if val in list_value[indx+1:]:
    dup_val.append(val)
    count += 1
print("these are the duplicate values in my list: ", dup_val)

my list : [1, 2, 3, 4, 5, 6, 7, 7, 8, 9, 10, 1]
these are the duplicate values in my list:  [1, 7]

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
prime_check = int(input("Enter the number to check the primes in the given range: "))
for i in range(2, prime_check+1):
  for j in range(2, i):
    if i%j == 0:
      break
  else :
    print(i, end = ", ")

Enter the number to check the primes in the given range: 10
2, 3, 5, 7,

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
str = "krishna"
count_vow = 0
for i in str:
  if i in "aeiouAEIOU":
    count_vow += 1
print("The count of vowels in a string: ", count_vow)

The count of vowels in a string:  2

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
two_d_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print("2D List:", two_d_list)

max_ele = []
for indx, row in enumerate(two_d_list):
  print(f"Index {indx} : {row}")
  for ele in row:
    max_ele.append(ele)
max_ele = max(max_ele)

print(f"the maximum element in 2D list is '{max_ele}'")

2D List: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
Index 0 : [1, 2, 3]
Index 1 : [4, 5, 6]
Index 2 : [7, 8, 9]
the maximum element in 2D list is '9'

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
list_val = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 5, 6, 4, 2, 9, 2]
element_to_remove = int(input("Enter an element from 1 to 10 to remove from the list: "))

updated_list = []
found = False

for ele in list_val:
    if ele != element_to_remove:
        updated_list.append(ele)
    else:
        found = True

if not found:
    print("The entered value is not in the list.")
else:
    print("Updated list:", updated_list)

Enter an element from 1 to 10 to remove from the list: 3
Updated list: [1, 2, 4, 5, 6, 7, 8, 9, 10, 2, 5, 6, 4, 2, 9, 2]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
start = 1
end = 5
for number in range(start, end+1):
  print("Now printing table : ", number)
  for ele in range(start, end+1):
    print(f"{number} * {ele} = {number*ele}")
  print()

Now printing table :  1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5

Now printing table :  2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10

Now printing table :  3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15

Now printing table :  4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20

Now printing table :  5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
fahrenheit_list = [12, 75, 23, 55, 26]
for f in fahrenheit_list:
  print(f"{f} degrees Fahrenheit is equal to {(f - 32) / 1.8:.2f} degrees Celsius.")

12 degrees Fahrenheit is equal to -11.11 degrees Celsius.
75 degrees Fahrenheit is equal to 23.89 degrees Celsius.
23 degrees Fahrenheit is equal to -5.00 degrees Celsius.
55 degrees Fahrenheit is equal to 12.78 degrees Celsius.
26 degrees Fahrenheit is equal to -3.33 degrees Celsius.

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7]
list2 = [1, 2, 3, 4, 5, 1,]

common_list = []
if len(list1) > len(list2):
  big_list = list1
  small_list = list2
else:
  big_list, small_list = list2, list1

for ele in small_list:
  if ele in big_list:
    common_list.append(ele)

print(f"The common elements from both list : {list(set((common_list)))}")

The common elements from both list : [1, 2, 3, 4, 5]

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
# Take the number of rows as input from the user
num_rows = int(input("Enter the number of rows for the right-angled triangle: "))

# Use a for loop to print each row of the triangle
for i in range(1, num_rows + 1):
    print('*' * i)

Enter the number of rows for the right-angled triangle: 10
*
**
***
****
*****
******
*******
********
*********
**********

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
# Take two numbers as input from the user
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

smaller = min(num1, num2)
gcd = 1

# Iterate from 1 to the smaller number
for i in range(1, smaller + 1):
    if num1 % i == 0 and num2 % i == 0:
        gcd = i
# Print the GCD
print(f"The GCD of {num1} and {num2} is: {gcd}")

Enter the first number: 24
Enter the second number: 30
The GCD of 24 and 30 is: 6

# Advanced Level

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
number_list = [123, 456, 789, 101]
print("Before summing :", number_list)
sum_of_digits_list = [sum(int(digit) for digit in str(number)) for number in number_list]
print("After Summation: ",sum_of_digits_list)

Before summing : [123, 456, 789, 101]
After Summation:  [6, 15, 24, 2]

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
def prime_factors(n):
    factors = []
    while n % 2 == 0:
        factors.append(2)
        n //= 2
    for i in range(3, int(n**0.5) + 1, 2):
        while n % i == 0:
            factors.append(i)
            n //= i
    return factors

num = int(input("Enter a number to find its prime factors: "))

# Use list comprehension to get prime factors
prime_factors = [factor for factor in prime_factors(num)]

# Print prime factors
print(f"The prime factors of {num} are: {prime_factors}")

Enter a number to find its prime factors: 36
The prime factors of 36 are: [[2, 2, 3, 3]]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [ ]:
list = [1,2,3,4,2,3]
print("The list : ",list)
unique_list = [i for i in list if list.count(i) == 1]
print("Unique elements from the list :",unique_list)

The list :  [1, 2, 3, 4, 2, 3]
Unique elements from the list : [1, 4]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [ ]:
list_container = list(range(11, 100))
print("These are the palindrom number within given range: ", [i for i in list_container if str(i) == str(i)[::-1]])

these are the palindrom number within given range:  [11, 22, 33, 44, 55, 66, 77, 88, 99]

25. Write a program to flatten a nested list using list comprehension.

In [ ]:
def flat(l):
  flat_list = []
  for i in l:
    if isinstance(i, list):
      flat_list.extend(flat(i))
    else :
      flat_list.append(i)
  return flat_list

n = [1, 2, [3, 4], [5,[6, 7]]]
print(flat(n))

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
def flatten(nested):
    return [item for sublist in nested for item in (flatten(sublist) if isinstance(sublist, list) else [sublist])]

flattened_list = flatten(nested_list)

print(flattened_list)

[1, 2, 3, 4, 5, 6, 7]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sum_even = sum([num for num in numbers if num % 2 == 0])
sum_odd = sum(num for num in numbers if num % 2 != 0)

# Print the results
print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

Sum of even numbers: 30
Sum of odd numbers: 25

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [ ]:
squares_of_odds = [num**2 for num in range(1, 11) if num % 2 != 0]
print("Squares of odd numbers between 1 and 10:", squares_of_odds)

Squares of odd numbers between 1 and 10: [1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

print("After combining both lists", {i:j for i,j in zip(keys, values)})

After combining both lists {'a': 1, 'b': 2, 'c': 3}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
sample_string = "Krishsna is good boy"
print("this is sample string: ", sample_string)
vowel_list = [char for char in sample_string if char in "AEIOUaeiou"]
print("these are the vowels present in the strig: ", vowel_list)

this is sample string:  Krishsna is good boy
these are the vowels present in the strig:  ['i', 'a', 'i', 'o', 'o', 'o']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [ ]:
string_list = ["abc123", "def456", "789ghi", "jkl012"]
result = [''.join(char for char in word if char.isdigit()) for word in string_list]
print(result)

['123', '456', '789', '012']

# Challenge Level

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [1]:
def sieve_of_eratosthenes_prime_alg(n):
    prime = [True] * (n + 1)
    p = 2

    while p * p <= n:
        if prime[p]:
            for i in range(p * p, n + 1, p):
                prime[i] = False
        p += 1

    # Use list comprehension to extract prime numbers
    prime_numbers = [p for p in range(2, n + 1) if prime[p]]
    return prime_numbers

n = 30
print(f"Prime numbers up to {n}: {sieve_of_eratosthenes_prime_alg(n)}")

Prime numbers up to 30: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [2]:
def pythagorean_triplets(limit):
    triplets = [(a, b, c) for a in range(1, limit + 1)
                for b in range(a, limit + 1)
                for c in range(b, limit + 1)
                if a**2 + b**2 == c**2]
    return triplets

limit = 30
print(f"Pythagorean triplets up to {limit}: {pythagorean_triplets(limit)}")

Pythagorean triplets up to 30: [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (18, 24, 30), (20, 21, 29)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [3]:
list1 = [1, 2, 3]
list2 = ['a', 'b', 'c']

combinations = [(x, y) for x in list1 for y in list2]

print("All possible combinations of two lists:")
print(combinations)

All possible combinations of two lists:
[(1, 'a'), (1, 'b'), (1, 'c'), (2, 'a'), (2, 'b'), (2, 'c'), (3, 'a'), (3, 'b'), (3, 'c')]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [4]:
from collections import Counter

# Function to calculate the mean
def calculate_mean(numbers):
    return sum(numbers) / len(numbers) if numbers else 0

# Function to calculate the median
def calculate_median(numbers):
    sorted_numbers = sorted(numbers)
    n = len(sorted_numbers)
    mid = n // 2
    return (sorted_numbers[mid - 1] + sorted_numbers[mid]) / 2 if n % 2 == 0 else sorted_numbers[mid]

# Function to calculate the mode
def calculate_mode(numbers):
    if not numbers:
        return None
    count = Counter(numbers)
    max_count = max(count.values())
    modes = [num for num, freq in count.items() if freq == max_count]
    return modes[0] if len(modes) == 1 else modes  # If multiple modes, return the first one

# Example list of numbers
numbers = [1, 2, 3, 4, 4, 5, 5, 5, 6]

# Calculating mean, median, and mode
mean = calculate_mean(numbers)
median = calculate_median(numbers)
mode = calculate_mode(numbers)

# Printing the results
print(f"Mean: {mean}")
print(f"Median: {median}")
print(f"Mode: {mode}")

Mean: 3.888888888888889
Median: 4
Mode: 5

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [5]:
def generate_pascals_triangle(rows):
    # Initialize the triangle with the first row
    triangle = [[1]]

    for i in range(1, rows):
        # Create the next row using list comprehension
        row = [1 if j == 0 or j == i else triangle[i-1][j-1] + triangle[i-1][j] for j in range(i + 1)]
        # Append the row to the triangle
        triangle.append(row)

    return triangle

# Specify the number of rows
num_rows = 5

# Generate Pascal's triangle
pascals_triangle = generate_pascals_triangle(num_rows)

# Print Pascal's triangle
for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [8]:
def factorial_digit_sum(n):
  """Calculates the sum of digits in the factorial of a number n."""
  factorial = 1
  for i in range(2, n + 1):
    factorial *= i
  # Convert factorial to string and iterate over digits, summing them
  return sum(int(digit) for digit in str(factorial))

# Calculate and print sum of digits for factorials of 1 to 5
for i in range(1, 6):
  result = factorial_digit_sum(i)
  print(f"Sum of digits in factorial of {i}: {result}")

Sum of digits in factorial of 1: 1
Sum of digits in factorial of 2: 2
Sum of digits in factorial of 3: 6
Sum of digits in factorial of 4: 6
Sum of digits in factorial of 5: 3

37. Write a program that finds the longest word in a sentence using list comprehension.

In [9]:
sentence = "This is a sample sentence to find the longest word"
words = sentence.split()

# Using list comprehension to find the longest word
longest_word = max(words, key=lambda word: len(word))

print(f"The longest word in the sentence is: {longest_word}")

The longest word in the sentence is: sentence

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [10]:
sentence = "This is a sample sentence to find the longest word"
words = sentence.split()

# Using list comprehension to find the longest word
longest_word = max(words, key=lambda word: len(word))

print(f"The longest word in the sentence is: {longest_word}")

The longest word in the sentence is: sentence

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [12]:
# Function to calculate the sum of digits of a number
def sum_of_digits(num):
    return sum(int(digit) for digit in str(num))

# List comprehension to calculate sum of digits for numbers from 1 to 1000
sum_of_digits_list = [sum_of_digits(num) for num in range(1, 1001)]

# Summing up all the calculated sums
total_sum = sum(sum_of_digits_list)

# Print the total sum
print("Total sum of digits from numbers 1 to 1000:", total_sum)

Total sum of digits from numbers 1 to 1000: 13501

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [11]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

# Function to check if a number is palindromic
def is_palindromic(num):
    return str(num) == str(num)[::-1]

# Generate prime palindromic numbers using list comprehension
prime_palindromes = [num for num in range(2, 1000) if is_prime(num) and is_palindromic(num)]

# Print the list of prime palindromic numbers
print("Prime palindromic numbers up to 1000:", prime_palindromes)

Prime palindromic numbers up to 1000: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]